/*
    17/05/12
    This css file uses float layout to implement fixed + variable columns
    in the same row. See notes for explanation. But basically one need to:
    1. float the fixed-width column
    2. let the variable-width column wraps its content aside
    3. use overflow:hidden; and height:100%; to enforce correct size
        and behaviour

    Alternatively one can use flex containers
*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background-color: #E0DFD5;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 
            "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    margin-bottom: 1px;
    /*background-color: #111111;*/
    color: #ffffff;
}

.navbar {
    float: left;
    width: 321px;
    background-color: #111111;
}

.navbar ul {
    list-style: none;
    padding: 0 10px;
    margin: 0;
    height: 100%;
    width: 321px;
}

.navbar ul li {
    float: left;
    height: 100%;
}

.tlbar {
    min-width: 540px;
    overflow: hidden;
    height: 100%;
}

.tlswitch {
    float: left;
    white-space: nowrap;
    width: 33%;
    background-color: #111111;
    margin-left: 1px;
    height: 100%;
}

.timeline {
    float: left;
    width: 33%;
    padding: 5px;
    margin-left: 1px;
    background-color: #a3a496;
}

.boxes {
    position: fixed;
    top: 36px;
    bottom: 0;
    left: 321px;
    right: 0;
}

.boxes iframe {
    height: 100% !important;
    min-height: 0 !important;
}

.sidebar {
    position: fixed;
    top: 36px;
    bottom: 0;
    background-color: #313638;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
#sidebar1 {
    left: 0;
    width: 160px;
}
#sidebar2 {
    background-color: #424548;
    left: 161px;
    width: 160px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    background-color: #3c4244;
    margin: 1px 0;
    padding: 0 0 0 2px;
    height: 35px;
}

/* elements in the same sidebar menu row */
.list-name,
.member-name {
    padding: 0; /* no pading, in order for the <a> link to expand */
    height: 100%;
    white-space: nowrap; /* prohibit line break */
    overflow: hidden;
}

.expand {
    float: right;
    padding: 0; /* no pading, in order for the <a> link to expand */
    height: 100%;
    width: 35px;
}

.sidebar a,
.tlbar a, 
.navbar a {
    height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    padding: 12px;
    /*display: block;*/
    display: flex;  /* can use flex here for vertically align text*/
    align-items: center;
}

.tlbar a {
    justify-content: center;
}

.sidebar a:hover {
    background-color: #E4B341;
}

.tlbar a:hover {
    background-color: #ef7461;
}

.expand a:hover,
.navbar a:hover {
    background-color: #555555;
}

.sidebarHeader {
    padding: 20px 10px;
    font-weight: bold;
}

.sidebarCategory {
    padding: 15px 10px;
    font-weight: bold;
}

.avatar {
    border-radius: 50%;
}